---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HeroSection from '../components/HeroSection.astro';
import Nosotros from '../components/Nosotros.astro';
import Services from '../components/Services.astro';
import Tst from '../components/Tst.astro';
import Contact from '../components/Contact.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="RyH Consultora.">
	<main>
		<Header/>
		<HeroSection/>
		<Nosotros/>
		<Services/>
		<Tst/>
		<Contact/>
		<Footer/>
	</main>
</Layout>
