---
---

<footer class="bg-[#001242] text-white py-4">
    <div class="container mx-auto text-center">
      <p>&copy; 2024 RyH Consultoría Política. Todos los derechos reservados.</p>
    </div>
  </footer>