---

---

<header class="bg-[#001242] text-white py-4">
        <div class="container mx-auto flex justify-between items-center">
          <h1 class="text-3xl font-bold">R.&.H</h1>
          <nav>
            <ul class="flex space-x-4">
              <li><a href="#about" class="hover:underline">Sobre Nosotros</a></li>
              <li><a href="#services" class="hover:underline">Servicios</a></li>
              <li><a href="#testimonials" class="hover:underline">Testimonios</a></li>
              <li><a href="#contact" class="hover:underline">Contacto</a></li>
            </ul>
          </nav>
        </div>
</header>