---
---

<section id="about" class="py-16 min-h-screen flex items-center justify-center">
    <div class="container mx-auto text-center">
      <h2 class="text-3xl font-bold mb-8">Sobre Nosotros</h2>
      <p class="max-w-2xl mx-auto text-lg">Somos R.&.H (Rodríguez y Herrera), una consultora política de renombre especializada en el armado político y la estrategia electoral. Con un profundo conocimiento de las dinámicas políticas de la provincia de Buenos Aires y un enfoque integral para toda la Argentina, estamos comprometidos a proporcionar soluciones estratégicas que garanticen el éxito de nuestros clientes en el complejo panorama electoral.</p>
    </div>
</section>
  