---

---


<section id="testimonials" class="py-16  min-h-screen flex items-center justify-center">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold mb-8">Testimonios</h2>
    <div class="flex flex-wrap justify-center text-black">
      <div class="w-full md:w-1/2 p-4">
        <div class="bg-white p-6 rounded shadow">
          <p>"RyH nos ayudó a ganar nuestra última elección con su increíble estrategia de campaña."</p>
          <p class="mt-4 font-semibold">- Cliente Satisfecho</p>
        </div>
      </div>
      <div class="w-full md:w-1/2 p-4">
        <div class="bg-white p-6 rounded shadow">
          <p>"El análisis político de RyH fue fundamental para entender el panorama y tomar decisiones informadas."</p>
          <p class="mt-4 font-semibold">- Otro Cliente Satisfecho</p>
        </div>
      </div>
    </div>
  </div>
</section>
